@model IList<mvc_vue_ts.Models.ProductModel>
<h2>Index</h2>

<main id="products">
    <div id="categories">
        <input type="radio" name="category" value="mouse" />mouse
        <input type="radio" name="category" value="keyboard" />keyboard
        <input type="radio" name="category" value="bag" />bag
    </div>

    <div id="filters">
        <input type="checkbox" name="f1" value="f1" />f1
        <input type="checkbox" name="f2" value="f2" />f2
        <input type="checkbox" name="f3" value="f3" />f3
    </div>

    <input id="search-input" />
    <ul id="products-list" class="list-group">
        @{
            var index = 0;
            foreach (var product in Model)
            {
                <li id="@index" class="list-group-item" data-name="@product.Name" data-category="@product.Category">
                    <img src="@product.Image" />
                    @product.Name
                    <a href=@("product/" + product.Id)> product page</a>
                </li>
                index++;
            }
        }

    </ul>

</main>

@Scripts.Render("~/Scripts/productsjq.js")